@font-face {
    font-family: "Vazir";
    src: url("./assets/fonts/Vazir.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: "Vazir", Arial, sans-serif;
  }